Use cases
- Sign up
- Sign in
- Enroll
- Mark lecture as concluded
- Select lecture in course

- Create course
- Create module
- Create lecture
- Update user
- Update course
- Update module
- Update lecture
